.projectTitle{
    color:white;
    margin-top: 80%;
    background-color: #262626;
    position:relative;
}

.project{
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 300px;
    border: 10px solid #262626;
}

#project1{
    background-image: url("../assets/images/techblog.png");
}

#project2{
    background-image: url("../assets/images/neveralone.png");
}

#project3{
    background-image: url("../assets/images/passwordgenerator.png");
}

#project4{
    background-image: url("../assets/images/weatherdashboard.png");
}

#project5{
    background-image: url("../assets/images/pokebattle.png");
}

#project6{
    background-image: url("../assets/images/fitnessTracker.png");
}

.project:hover{
    transition:.2s;
    opacity:.6;
}